# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C files
*.out

# Application specific files
venv
node_modules
.sass-cache
.idea/
build/
dist/
playground_file.py
polymath_src/test.c
polymath_src/test
MANIFEST

# C build folder
polymath_src/polymath_c/cmake-build-debug/

# virtualenv folder
env/

polymath.egg-info/

